{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="main">
      {% block primary_content %}
      {% endblock %}
    </div>
    <div class="aside">
      {% include "opendebates/snippets/add_question.html" %}

      <div class="recent-activity-container">
        <h4>{% blocktrans %}Recent Activity{% endblocktrans %}</h4>
        <div id="recent-activity">
          {% include "opendebates/snippets/recent_activity.html" %}
        </div>
      </div>

    </div>
{% endblock %}
