{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="row breadcrumbs">
  <a href="/">{% blocktrans %}Home{% endblocktrans %}</a>
  <span class="hidden-xs">&#8594;</span>
  <a class="hidden-xs" href="">{% blocktrans %}Changelog{% endblocktrans %}</a>
</div>
<div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Question</th>
          <th>Date &amp; Time</th>
          <th>Change Made</th>
          <th>Information</th>
        </tr>
      </thead>
      <tbody>
        {% for removal in removed %}
        <tr>
          <td>{{ removal.id }}</td>
          <td><a href="{{ removal.get_absolute_url }}">{{ removal.headline }}</a></td>
          <td>{{ removal.moderated_at|default_if_none:"--" }}</td>
          <td>{% if removal.duplicate_of %}Merged{% else %}Removed{% endif %}</td>
          <td>{{ removal.flag_notes|join:", " }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
