{% extends "opendebates/base.html" %}
{% load i18n endless cache %}

{% block title %}
  {% blocktrans %}Open Debates{% endblocktrans %}
{% endblock %}

{% block pre_content %}
<form action="{% url 'search_ideas' %}" method="GET" id="top-search">
  <input type="submit" value=""/>
  <div class="search-ctn">
    <input name="q" class="form-control" id="search-full"
           placeholder="{% if ALLOW_VOTING_AND_SUBMITTING_QUESTIONS %}{% blocktrans %}Before submitting your own question, search keywords to see if it was already asked{% endblocktrans %}{% else %}{% blocktrans %}Search questions by keyword{% endblocktrans %}{% endif %}"
           value="{{ search_term|default:'' }}" onkeyup="javascript:if(arguments[0].keyCode===13)this.form.submit();">
  </div>
  <div class="search-ctn">
    <input name="q" class="form-control" id="search-small"
           placeholder="{% blocktrans %}Search questions by keyword{% endblocktrans %}"
           value="{{ search_term|default:'' }}" onchange="javascript:this.form.submit();">
  </div>
</form>

<div class="row white category-only hidden-xs text-center">
  <div class="vcenter {% if not category %}active-category-nav{% endif %}">
    <a href="/">{% blocktrans %}All Issue Areas{% endblocktrans %}</a>
  </div>
  {% cache 279 option_categories category.id %}
    {% for option in SUBMISSION_CATEGORIES %}
      {% if option.name != "Hidden" and option.name != "Uncategorized" and option.name != "Other" %}
        <div class="vcenter {% if category and category.id == option.id %}active-category-nav{% endif %}">
          <a href="{% url 'list_category' option.id %}">{{ option.name }}</a>
        </div>
      {% endif %}
    {% endfor %}
  {% endcache %}
</div>
<label id="category-select-picker-ctn" for="category-select-picker">
  {% trans "Issue areas" %}<br/>
  <select id="category-select-picker" class="selectpicker">
    <option value="/">All</option>
    {% cache 299 cat_options category.id %}
      {% for option in SUBMISSION_CATEGORIES %}
        {% if option.name != "Hidden" and option.name != "Uncategorized" and option.name != "Other" %}
          <option {% if category and category.id == option.id %}selected{% endif %} value"{% url 'list_category' option.id %}">{{ option.name }}</option>
        {% endif %}
      {% endfor %}
    {% endcache %}
  </select>
</label>
<br class="hidden-xs">
{% endblock %}

{% block primary_content %}
  {% cache 30 list_ideas_content sort url_name search_term category.id %}
    <div class="sort-column">
      <form action="{{ url_name }}" method="GET" class="form-inline">
        <label for="q">
          {% blocktrans %}Sort questions by{% endblocktrans %}
        </label>
        <select onchange="this.form.submit()"
                name="sort" class="form-control selectpicker">
          <option value="">
            ---
          </option>
          <option value="trending" {% if sort == "trending" %}selected{% endif %}>
            {% blocktrans %}Trending Now{% endblocktrans %}
          </option>
          <option value="random" {% if sort == "random" %}selected{% endif %}>
            {% blocktrans %}Random{% endblocktrans %}
          </option>
          <option value="-date" {% if sort == "-date" %}selected{% endif %}>
            {% blocktrans %}Newest First{% endblocktrans %}
          </option>
          <option value="+date" {% if sort == "+date" %}selected{% endif %}>
            {% blocktrans %}Oldest First{% endblocktrans %}
          </option>
        {% if ALLOW_SORTING_BY_VOTES %}
          <option value="-votes" {% if sort == "-votes" %}selected{% endif %}>
            {% blocktrans %}Most Votes{% endblocktrans %}
          </option>
          <option value="+votes" {% if sort == "+votes" %}selected{% endif %}>
            {% blocktrans %}Fewest Votes{% endblocktrans %}
          </option>
          {% if LOCAL_VOTES_STATE %}
          <option value="-local_votes" {% if sort == "+local_votes" %}selected{% endif %}>
            {% blocktrans %}In-District Votes{% endblocktrans %}
          </option>
          {% endif %}
        {% endif %}
        </select>
        <div class="display-count">

            Displaying <strong>{% cache 57 idea_count search_term category.id %}{{ ideas.count }}{% endcache %} Questions</strong>
        </div>
      </form>
    </div>
    {% endcache %}
    
  {% show_current_number as page_number %}
  {% cache 30 idea_list search_term category.id sort page_number %}

  <hr class="before-idea-list visible-xs" />
  <div class="row idea-list">
    {% lazy_paginate 25 ideas %}

    {% for idea in ideas %}
      {% include "opendebates/snippets/idea.html" %}
    {% endfor %}

    {% show_pages %}
  </div>
  {% endcache %}
{% endblock %}
