{% extends "base.html" %}
{% load i18n bootstrap %}

{% block title %}
  {% blocktrans %}Open Debates{% endblocktrans %}
{% endblock %}

{% block content %}
<div class="row breadcrumbs">
  <a href="/">Home</a>
  &#8594;
  <a href="{% url 'list_category' idea.category.id %}">{{ idea.category }}</a>
  &#8594;
  <a href="">{{ idea.idea }}</a>
</div>
<div class="row question-detail">
  {% include "opendebates/snippets/idea.html" %}

  <div class="social-side-bar">
    <h4>Share This Idea!</h4>

    {% include "opendebates/snippets/social-links.html" %}
  </div>

  {% if related1 %}
  <div class="idea-related">
    <h5>{% blocktrans %}You may also be interested in...{% endblocktrans %}</h5>
    <div class="row">
      <div class="col-md-6">
        {% include "opendebates/snippets/idea.html" with idea=related1 is_related=1 %}
      </div>
      <div class="col-md-6">
        {% if related2 %}
        {% include "opendebates/snippets/idea.html" with idea=related2 is_related=1 %}
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
