{% extends "base.html" %}
{% load i18n bootstrap %}

{% block metadata %}
  <meta name="twitter:card" content="summary_large_image">
  {# <meta name="twitter:site" content="@Opendebaters"> #}
  {# <meta name="twitter:creator" content="@Opendebaters"> #}
  <meta name="twitter:title" content="{{ idea.twitter_title }}">
  <meta name="twitter:description" content="{{ idea.twitter_description }}">
  <meta name="twitter:image" content="{{ SITE_MODE.twitter_image }}">

  <meta property="og:url" content="{{ idea.really_absolute_url }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{ idea.facebook_title }}"/>
  <meta property="og:description" content="{{ idea.facebook_description }}"/>
  <meta property="og:image" content="{{ SITE_MODE.facebook_image }}"/>
{% endblock metadata %}

{% block title %}
  {% blocktrans %}Open Debates{% endblocktrans %}
{% endblock %}

{% block content %}
<div class="row breadcrumbs">
  <a href="/">{% blocktrans %}Home{% endblocktrans %}</a>
  <span>&#8594;</span>
  <a href="{% url 'list_category' idea.category.id %}">{{ idea.category }}</a>
  <span class="hidden-xs">&#8594;</span>
  <a class="hidden-xs" href="">{{ idea.idea }}</a>
</div>
<div class="row question-detail">
  <div class="col-sm-8">
    {% include "opendebates/snippets/idea.html" %}
  </div>

  <div class="col-sm-4 social-side-bar" data-idea-id="{{ idea.id }}">
    <h2>{% blocktrans %}Share This Question!{% endblocktrans %}</h2>
    {% include "opendebates/snippets/social-links.html" %}
  </div>

  {% if related1 %}
  <div class="idea-related">
    <h5>{% blocktrans %}You may also be interested in...{% endblocktrans %}</h5>
    <div class="row">
      <div class="col-md-6">
        {% include "opendebates/snippets/idea.html" with idea=related1 is_related=1 %}
      </div>
      <div class="col-md-6">
        {% if related2 %}
        {% include "opendebates/snippets/idea.html" with idea=related2 is_related=1 %}
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
