{% load i18n %}
{% load static from staticfiles %}
<html>
<head>
  <title>
    {% block title %}Open Debates{% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% load pipeline %}
  {% stylesheet 'base' %}
  {% block loading_stylesheets %}
  {% endblock %}
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,600,400|Open+Sans+Condensed:700"
        rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">
  <header>
    <div class="header-logos">
      <a href="{% url 'list_ideas' %}">
        <img src="{% static "images/badge-democratic-open-forum.png" %}">
        <img src="{% static "images/logo-progressive-change-institute.png" %}">
        <img src="{% static "images/logo-cnn.png" %}">
      </a>
    </div>
    <div class="login-container{% if request.user.is_authenticated %} login-container-authenticated{% endif %}">
      {% if request.user.is_authenticated %}
        <a href="{# url 'user_profile' #}">
          {% blocktrans with username=request.user.username %}Welcome, {{ username }}!{% endblocktrans %}
        </a>
        <span>/</span>
        <a href="{% url 'auth_logout' %}">{% blocktrans %}Log out{% endblocktrans %}</a>
        {% else %}
        <a href="{% url 'auth_login' %}">{% blocktrans %}Log in{% endblocktrans %}</a> <span> / </span>
        <a href="{% url 'registration_register' %}">{% blocktrans %}Register{% endblocktrans %}</a>
      {% endif %}
    </div>
    <div class="header-title">
      <h1><a href="/">{% blocktrans %}Welcome to the{% endblocktrans %}<br/>{% blocktrans %}Democratic Open Forum{% endblocktrans %}</a></h1>
      <div class="header-copy">
        {% blocktrans %}Ask Bernie and Hillary about the issues that are most important to you. Then tune in here to watch the Democratic Open Forum on Thursday, March 3 at 9:00 pm EST. All questions will be chosen from among those that receive the most votes.{% endblocktrans %}
      </div>
      <div class="header-small-logos">
        <img src="{% static "images/logo-progressive-change-institute.png" %}">
        <img src="{% static "images/logo-cnn.png" %}">
      </div>
      <div class="header-votes">
        <span class="number">{{ NUMBER_OF_VOTES|stringformat:"07d" }}</span>{% blocktrans %}total votes{% endblocktrans %}
      </div>
      <div class="header-count-down">
        <span class="number days">30</span> {% blocktrans %}days{% endblocktrans %}
        <span class="number hours">12</span> {% blocktrans %}hrs{% endblocktrans %}
        <span class="number minutes">5</span> {% blocktrans %}mins{% endblocktrans %}
        until the forum
      </div>
    </div>
  </header>
  <!-- TODO: Pull in old mark up to new layout -->

  <div class="row white">
    {% include "opendebates/snippets/messages.html" %}
  </div>
  <div class="row white">
    <!-- <div class="col-md-12"> -->
      {% block pre_content %}{% endblock %}
    <!-- </div> -->
  </div>
  <div class="row">
      {% block content %}
      {% endblock %}
  </div>

  <footer>
    <img src="{% static "images/ft-detroit-news.png" %}" />
    <img src="{% static "images/ft-young-turks.png" %}" />
    <img src="{% static "images/ft-reddit.png" %}" />
    <hr />
    <nav>
      <a href="#">About</a>
      <a href="#">Participation Guidelines</a>
      <a href="#">Press</a>
      <a href="#">Partners</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Contact</a>
    </nav>
    <div class="ft-social">
      <a id="ft-facebook" href="#">Facebook</a>
      <a id="ft-twitter" href="#">Twitter</a>
      <a id="ft-reddit" href="#">Reddit</a>
    </div>
  </footer>

  {% include "opendebates/snippets/vote_modal.html" %}

</div>
<script type="text/javascript">
  var ODebates = ODebates || {};
  ODebates.configs = ODebates.configs || {};
  ODebates.paths = ODebates.paths || {};

  ODebates.paths.static = "{{ STATIC_URL }}";

  {% if DEBUG %}
    ODebates.configs.debug = true;
  {% else %}
    ODebates.configs.debug = false;
  {% endif %}

  {% if VOTER %}
  ODebates.voter = {"email": "{{ VOTER.email }}",
                    "zip": "{{ VOTER.zip }}",
                    "first_name": "{{ request.user.first_name|default:'' }}",
                    "last_name": "{{ request.user.last_name|default:'' }}",
                    "has_account": {% if request.user.is_authenticated %}true{% else %}false{% endif %}
  };
  {% endif %}

  ODebates.vote_needs_captcha = {% if VOTE_NEEDS_CAPTCHA %}true{% else %}false{% endif %};

  {% if stashed_submission %}
  ODebates.stashedSubmission = {
    "category": {{ stashed_submission.category }},
    "question": "{{ stashed_submission.question }}",
    "headline": "{{ stashed_submission.headline }}",
    "citation": {% if stashed_submission.citation %}"{{ stashed_submission.citation }}"{% else %}null{% endif %}
  };
  {% endif %}
</script>
<script id="my-votes-cast" type="application/json">
  {{ VOTES_CAST }}
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment-with-locales.js'></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/js/bootstrap-select.js"></script>
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>
{% javascript 'base' %}
{% block loading_javascript %}
{% endblock %}

<script type="text/javascript">
  $(window).load(function() {
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-toggle="popover"]').popover();
  });
</script>

</body>
</html>
