{% load i18n %}
{% load static from staticfiles %}
<html>
<head>
  <title>
    {% block title %}Open Debates{% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% load pipeline %}
  {% stylesheet 'base' %}
  {% block loading_stylesheets %}
  {% endblock %}
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,600,400|Open+Sans+Condensed:700"
        rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>

<div class="container container-wide">
  <header>
    <div class="header-logos">
      <a href="{% url 'list_ideas' %}">
        <img src="{% static "images/badge-democratic-open-forum.png" %}">
        <img src="{% static "images/logo-progressive-change-institute.png" %}">
        <img src="{% static "images/logo-cnn.png" %}">
      </a>
    </div>
    <div class="login-container{% if request.user.is_authenticated %} login-container-authenticated{% endif %}">
      {% if request.user.is_authenticated %}
        <a href="{# url 'user_profile' #}">
          {% blocktrans with username=request.user.username %}Welcome, {{ username }}!{% endblocktrans %}
        </a>
        <span>/</span>
        <a href="{% url 'auth_logout' %}">{% blocktrans %}Log out{% endblocktrans %}</a>
        {% else %}
        <a href="{% url 'auth_login' %}">{% blocktrans %}Log in{% endblocktrans %}</a> <span> / </span>
        <a href="{% url 'registration_register' %}">{% blocktrans %}Register{% endblocktrans %}</a>
      {% endif %}
    </div>
    <div class="header-title">
      <h1><a href="/">{% blocktrans %}Welcome to the{% endblocktrans %}<br/>{% blocktrans %}Democratic Open Forum{% endblocktrans %}</a></h1>
      <div class="header-copy">
        {% blocktrans %}Ask Bernie and Hillary about the issues that are most important to you. Then tune in here to watch the Democratic Open Forum on Thursday, March 3 at 9:00 pm EST. All questions will be chosen from among those that receive the most votes.{% endblocktrans %}
      </div>
      <div class="header-small-logos">
        <img src="{% static "images/logo-progressive-change-institute.png" %}">
        <img src="{% static "images/logo-cnn.png" %}">
      </div>
      <div class="header-bottom">
        <div class="header-votes">
          <span class="number">{{ NUMBER_OF_VOTES|stringformat:"07d" }}</span>{% blocktrans %}total votes{% endblocktrans %}
        </div>
        <div class="header-count-down">
          <span class="number days">30</span> {% blocktrans %}days{% endblocktrans %}
          <span class="number hours">12</span> {% blocktrans %}hrs{% endblocktrans %}
          <span class="number minutes">5</span> {% blocktrans %}mins{% endblocktrans %}
          until the forum
        </div>
      </div>
    </div>
  </header>
  <!-- TODO: Pull in old mark up to new layout -->
</div>

<div class="container container-wide">
  <div class="row white">
    {% include "opendebates/snippets/messages.html" %}
  </div>
  <div class="row white">
    <!-- <div class="col-md-12"> -->
      {% block pre_content %}{% endblock %}
    <!-- </div> -->
  </div>
</div>

<div class="container">
  <div class="row">
    {% block content %}
    {% endblock %}
  </div>
</div>

<div class="container container-wide">
  <footer>
    <img src="{% static "images/ft-detroit-news.png" %}" />
    <img src="{% static "images/ft-young-turks.png" %}" />
    <img src="{% static "images/ft-reddit.png" %}" />
    <hr />
    <nav>
      <a href="#">About</a>
      <a href="#">Participation Guidelines</a>
      <a href="#">Press</a>
      <a href="#">Partners</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Contact</a>
    </nav>
    <div class="ft-social">
      <a id="ft-facebook" href="#">Facebook</a>
      <a id="ft-twitter" href="#">Twitter</a>
      <a id="ft-reddit" href="#">Reddit</a>
    </div>
  </footer>

  {% include "opendebates/snippets/vote_modal.html" %}

</div>
<script type="text/javascript">
  var ODebates = ODebates || {};
  ODebates.configs = ODebates.configs || {};
  ODebates.paths = ODebates.paths || {};

  ODebates.paths.static = "{{ STATIC_URL }}";
  ODebates.paths.report = "{% url 'report' 0 %}";
  ODebates.paths.merge = "{% url 'merge' 0 %}";

  {% if DEBUG %}
    ODebates.configs.debug = true;
  {% else %}
    ODebates.configs.debug = false;
  {% endif %}

  {% if VOTER %}
  ODebates.voter = {"email": "{{ VOTER.email }}",
                    "zip": "{{ VOTER.zip }}",
                    "first_name": "{{ request.user.first_name|default:'' }}",
                    "last_name": "{{ request.user.last_name|default:'' }}",
                    "has_account": {% if request.user.is_authenticated %}true{% else %}false{% endif %}
  };
  {% endif %}

  ODebates.vote_needs_captcha = {% if VOTE_NEEDS_CAPTCHA %}true{% else %}false{% endif %};

  {% if stashed_submission %}
  ODebates.stashedSubmission = {
    "category": {{ stashed_submission.category }},
    "question": "{{ stashed_submission.question }}",
    "headline": "{{ stashed_submission.headline }}",
    "citation": {% if stashed_submission.citation %}"{{ stashed_submission.citation }}"{% else %}null{% endif %}
  };
  {% endif %}
</script>
<script id="my-votes-cast" type="application/json">
  {{ VOTES_CAST }}
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment-with-locales.js'></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/js/bootstrap-select.js"></script>
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>

{% if MIXPANEL_KEY %}
<script type="text/javascript">
      (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
      mixpanel.init("{{ MIXPANEL_KEY }}");</script><!-- end Mixpanel -->
</script>
{% endif %}

{% javascript 'base' %}
{% block loading_javascript %}
{% endblock %}

<script type="text/javascript">
  $(window).load(function() {
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-toggle="popover"]').popover();
  });
</script>

</body>
</html>
