{% load i18n tz %}
{% load static from staticfiles %}
<html>
<head>
  <title>
    {% block title %}Open Debates{% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% block metadata %}
    <meta name="twitter:card" content="summary_large_image">
    {# <meta name="twitter:site" content="@Opendebaters"> #}
    {# <meta name="twitter:creator" content="@Opendebaters"> #}
    <meta name="twitter:title" content="{{ SITE_THEME.TWITTER_SITE_TITLE }}">
    <meta name="twitter:description" content="{{ SITE_THEME.TWITTER_SITE_DESCRIPTION }}">
    <meta name="twitter:image" content="{{ SITE_THEME.TWITTER_IMAGE }}">

    <meta property="og:url" content="{{ SITE_LINK }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ SITE_THEME.FACEBOOK_SITE_TITLE }}"/>
    <meta property="og:description" content="{{ SITE_THEME.FACEBOOK_SITE_DESCRIPTION }}"/>
    <meta property="og:image" content="{{ SITE_THEME.FACEBOOK_IMAGE }}"/>
  {% endblock metadata %}
  {% load pipeline %}
  {% stylesheet 'base' %}
  {% if SITE_THEME %}
    {% with "theme-"|add:SITE_THEME_NAME as theme %}
      {% stylesheet theme %}
    {% endwith %}
  {% endif %}
  {% block loading_stylesheets %}
  {% endblock %}
  <link href="{% static 'images/favicon.png' %}" type="image/png" rel="shortcut icon">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,600,400|Open+Sans+Condensed:700"
        rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>

<div class="container container-wide">
  {% if ANNOUNCEMENT %}
  <div class="site-announcement warning">
    {% if ANNOUNCEMENT.link %}<a href="{{ ANNOUNCEMENT.link }}">{% endif %}
    <h1>{{ ANNOUNCEMENT.headline|safe }}</h1>
    {% if ANNOUNCEMENT.body %}
    <p>{{ ANNOUNCEMENT.body|safe }}</p>
    {% endif %}
    {% if ANNOUNCEMENT.link %}</a>{% endif %}
  </div>
  {% endif %}

  <header>
    <div class="header-logos">
      <a href="{% url 'list_ideas' %}">
        <img src="{% static "images/badge-democratic-open-forum.png" %}">
        <img src="{% static "images/logo-header-partner-1.png" %}">
        <img src="{% static "images/logo-header-partner-2.png" %}">
      </a>
    </div>
    <div class="login-container{% if request.user.is_authenticated %} login-container-authenticated{% endif %}">
      {% if request.user.is_authenticated %}
        <a href="{# url 'user_profile' #}">
          {% blocktrans with username=request.user.first_name %}Welcome, {{ username }}!{% endblocktrans %}
        </a>
        <span>/</span>
        <a href="{% url 'auth_logout' %}">{% blocktrans %}Log out{% endblocktrans %}</a>
        {% else %}
        <a href="{% url 'auth_login' %}">{% blocktrans %}Log in{% endblocktrans %}</a> <span> / </span>
        <a href="{% url 'registration_register' %}">{% blocktrans %}Register{% endblocktrans %}</a>
      {% endif %}
    </div>
    <div class="header-title">
      <h1><a href="/">{{ SITE_THEME.HEADER_TITLE|linebreaks }}</a></h1>
      <div class="header-copy">{{ SITE_THEME.HEADER_COPY }}</div>
      <div class="header-small-logos">
        <img src="{% static "images/logo-header-partner-1.png" %}">
        <img src="{% static "images/logo-header-partner-2.png" %}">
      </div>
      <div class="header-bottom">
        <div class="header-votes">
          {% if SHOW_TOTAL_VOTES %}<span class="number">{{ NUMBER_OF_VOTES|stringformat:"07d" }}</span>{% blocktrans %}total&nbsp;votes{% endblocktrans %}{% endif %}
        </div>
        <div class="header-count-down">
          <span class="number days">30</span> {% blocktrans %}days{% endblocktrans %}
          <span class="number hours">12</span> {% blocktrans %}hrs{% endblocktrans %}
          <span class="number minutes">5</span> {% blocktrans %}mins{% endblocktrans %}
          {% blocktrans %}until&nbsp;the&nbsp;event{% endblocktrans %}
        </div>
      </div>
    </div>
  </header>
  <!-- TODO: Pull in old mark up to new layout -->
</div>

<div class="container container-wide">
  <div class="row white">
    {% include "opendebates/snippets/messages.html" %}
  </div>
  <div class="row white">
    <!-- <div class="col-md-12"> -->
      {% block pre_content %}{% endblock %}
    <!-- </div> -->
  </div>
</div>

<div class="container">
  <div class="row">
    {% block content %}
    {% endblock %}
  </div>
</div>

<div class="container container-wide">
  <footer>
    <hr />
    <nav>
      <a href="/about/">About</a>
      <a href="/participation/">Participation Guidelines</a>
      <a href="/press/">Press</a>
      <a href="/partners/">Partners</a>
      <a href="/privacy/">Privacy Policy</a>
      <a href="/contact/">Contact</a>
    </nav>
    <div class="ft-social">
      <a target="_blank" id="ft-facebook" href="{{ FACEBOOK_URL }}">Facebook</a>
      <a target="_blank" id="ft-twitter" href="{{ TWITTER_URL }}">Twitter</a>
    </div>
  </footer>

  {% include "opendebates/snippets/vote_modal.html" %}

</div>
<script type="text/javascript">
  var ODebates = ODebates || {};
  ODebates.configs = ODebates.configs || {};
  ODebates.paths = ODebates.paths || {};

  ODebates.paths.static = "{{ STATIC_URL }}";
  ODebates.debate_time_utc = new Date("{{ DEBATE_TIME|utc|date:'c' }}");
  ODebates.paths.report = "{% url 'report' 0 %}";
  ODebates.paths.merge = "{% url 'merge' 0 %}";
  ODebates.paths.login = "{% url 'auth_login' %}";
  ODebates.paths.register = "{% url 'registration_register' %}";

  ODebates.strings = ODebates.strings || {};
  ODebates.strings.afterQuestionSubmittedText = "{{ SITE_THEME.AFTER_QUESTION_SUBMITTED_TEXT }}";
  
  {% if DEBUG %}
    ODebates.configs.debug = true;
  {% else %}
    ODebates.configs.debug = false;
  {% endif %}

  {% if VOTER %}
  ODebates.voter = {"email": "{{ VOTER.email }}",
                    "zip": "{{ VOTER.zip }}",
                    "first_name": "{{ request.user.first_name|default:'' }}",
                    "last_name": "{{ request.user.last_name|default:'' }}",
                    "has_account": {% if request.user.is_authenticated %}true{% else %}false{% endif %}
  };
  {% endif %}

  ODebates.vote_needs_captcha = {% if VOTE_NEEDS_CAPTCHA %}true{% else %}false{% endif %};

  {% if stashed_submission %}
  ODebates.stashedSubmission = {
    "category": {{ stashed_submission.category }},
    "question": "{{ stashed_submission.question }}",
    "headline": "{{ stashed_submission.headline }}",
    "citation": {% if stashed_submission.citation %}"{{ stashed_submission.citation }}"{% else %}null{% endif %}
  };
  {% endif %}
</script>
<script id="my-votes-cast" type="application/json">
  {{ VOTES_CAST }}
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js'></script>
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment-with-locales.js'></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/js/bootstrap-select.js"></script>
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js" async defer></script>

{% if OPTIMIZELY_KEY %}
<script src="https://cdn.optimizely.com/js/{{ OPTIMIZELY_KEY }}.js"></script>
{% endif %}

{% if MIXPANEL_KEY %}
<script type="text/javascript">
      (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
      mixpanel.init("{{ MIXPANEL_KEY }}");</script><!-- end Mixpanel -->
</script>
{% endif %}

{% javascript 'base' %}
{% block loading_javascript %}
{% endblock %}

<script type="text/javascript">
  $(window).load(function() {
    var versions = [
      ["Internet Explorer", $.browser.msie, 11],
      ["Google Chrome", $.browser.chrome, 47],
      ["Firefox", $.browser.mozilla, 44],
      ["Safari", $.browser.safari, 9],
      ["Microsoft Edge", $.browser.msedge, 13]
    ];

    var browsers = '';
    for (var i=0; i < versions.length; i++) {
      if (i < versions.length - 1) {
        browsers += versions[i][0] + " " + versions[i][2] + ", ";
      } else {
        browsers += "or " + versions[i][0] + " " + versions[i][2];
      }
    }

    for (var i=0; i < versions.length; i++) {
      var version = versions[i];
      if (version[1] && $.browser.versionNumber < version[2]) {
        var msg = '<div class="warning"><h1>PLEASE UPDATE YOUR WEB BROWSER</h1><p>You are using an out-of-date web browser which is not fully supported on this website.  For the best experience, please upgrade to ' + browsers + '.</p></div>'
        $("div.container").first().prepend(msg);
        break;
      }
    }
  });
</script>

<script type="text/javascript">
  $(window).load(function() {
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-toggle="popover"]').popover();
  });
</script>

</body>
</html>
