{% load i18n %}
{% load l10n %}

<div class="social-links">
  <span class="fb-button">
    <a class="facebook" href="{{ idea.facebook_url }}" target="_blank">
      <i class="fa fa-facebook-official"></i>
      <span>{% blocktrans %}Share{% endblocktrans %}</span>
    </a>
  </span>
  <span class="tweet-button">
    <a class="twitter" href="{{ idea.twitter_url }}" target="_blank">
      <i class="fa fa-twitter"></i>
      <span>{% blocktrans %}Tweet{% endblocktrans %}</span>
    </a>
  </span>
  <span class="reddit-button">
    <a class="reddit" href="{{ idea.reddit_url }}" target="_blank">
      <i class="fa fa-reddit-alien"></i>      
      <span>{% blocktrans %}Post{% endblocktrans %}</span>
    </a>
  </span>
  <span class="email-button">
    <a class="email" href="{{ idea.email_url }}" target="_blank">
      <i class="fa fa-envelope"></i>      
      <span>{% blocktrans %}Email{% endblocktrans %}</span>
    </a>
  </span>
</div>
