{% load i18n %}
{% load l10n %}

<div class="social-links">
  <span class="fb-button">
    <a class="facebook" href="{{ idea.facebook_url }}" target="_blank">
      {% blocktrans %}Share{% endblocktrans %}
    </a>
  </span>
  <span class="tweet-button">
    <a class="twitter" href="{{ idea.twitter_url }}" target="_blank">
      {% blocktrans %}Tweet{% endblocktrans %}
    </a>
  </span>
  <span class="reddit-button">
    <a class="reddit" href="{{ idea.reddit_url }}" target="_blank">
      {% blocktrans %}Post{% endblocktrans %}
    </a>
  </span>
  <span class="email-button">
    <a class="email" href="{{ idea.email_url }}" target="_blank">
      {% blocktrans %}Email{% endblocktrans %}
    </a>
  </span>
  <span class="sms-button">
    <a class="sms" href="{{ idea.sms_url }}" target="_blank">
      {% blocktrans %}SMS{% endblocktrans %}
    </a>
  </span>
</div>
