{% extends "base.html" %}
{% load endless %}

{% block content %}
  <h2>Admin - Moderation Panel</h2>

  <a href="{% url 'moderation_preview' SITE_MODE.prefix %}">Manually moderate submissions</a>

  <h3>Flagged for removal</h3>

  <div class="row">
    <div class="col-md-12">
      {% paginate 10 flagged_for_removal %}

      <table class="table">
        <thead>
          <tr>
            <th>PK</th>
            <th>Headline &amp; Content</th>
            <th>Vote count</th>
            <th>Flag count</th>
            <th>Keep and prevent further flagging, or remove question.</th>
          </tr>
        </thead>
        {% for idea in flagged_for_removal %}
          <tr>
            <td><a href="{% url 'vote' SITE_MODE.prefix idea.pk %}">{{ idea.pk }}</a></td>
            <td>
              {{ idea.headline }}<br />
              {{ idea.idea }}
            </td>
            <td>{{ idea.votes }}</td>
            <td>{{ idea.removal_flags.count }}</td>
            <td>
              <form action="{% url 'moderation_preview' SITE_MODE.prefix %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="to_remove" value="{{ idea.pk }}">
                <input class="btn btn-default" type="submit" name="action" value="Preview Removal">
              </form>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No submissions flagged for removal.</td>
          </tr>
        {% endfor %}
      </table>
      {% show_pages %}
    </div>
  </div>

  <h3>Flagged for Merge</h3>

  <div class="row">
    <div class="col-md-12">
      {% paginate 10 merge_flags using "merge" %}

      <table class="table">
        <thead>
          <tr>
            <th>Dupe PK</th>
            <th>Dupe</th>
            <th>Merge Target PK</th>
            <th>Merge Target</th>
            <th>Action</th>
          </tr>
        </thead>
        {% for flag in merge_flags %}
          <tr>
            <td><a href="{% url 'vote' SITE_MODE.prefix flag.to_remove.pk %}">{{ flag.to_remove.pk }}</a></td>
            <td>
              {{ flag.to_remove.headline }}<br />
              {{ flag.to_remove.idea }}
            </td>
            <td><a href="{% url 'vote' SITE_MODE.prefix flag.duplicate_of.pk %}">{{ flag.duplicate_of.pk }}</a></td>
            <td>
              {{ flag.duplicate_of.headline }}<br />
              {{ flag.duplicate_of }}
            </td>
            <td>
              <form action="{% url 'moderation_preview' SITE_MODE.prefix %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="to_remove" value="{{ flag.to_remove.pk }}" />
                <input type="hidden" name="duplicate_of" value="{{ flag.duplicate_of.pk }}" />
                <input type="submit" value="Preview Merge" />
              </form>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No merge flags.</td>
          </tr>
        {% endfor %}
      </table>
      {% show_pages %}
    </div>
  </div>

{% endblock %}
