{% extends "opendebates/base.html" %}

{% block metadata %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="HAPPENING NOW! Watch history be made.">
<meta name="twitter:description" content="Well, this is awesome. I'm watching Democratic Congressman Alan Grayson debate Republican Congressman David Jolly in Florida. It's the first time ever U.S. Senate candidates are participating in an Open Debate where all questions were submitted and voted on by the public -- and moderators must ask top-voted questions. Watch it with me...">
<meta name="twitter:image" content="https://s3.amazonaws.com/s3.boldprogressives.org/images/OpenDebates_WATCH-NOW_TW-1024x512-FODUrl.png">

<meta property="og:url" content="https://floridaopendebate.com/watch/"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="HAPPENING NOW! Watch history be made."/>
<meta property="og:description" content="Well, this is awesome. I'm watching Democratic Congressman Alan Grayson debate Republican Congressman David Jolly in Florida. It's the first time ever U.S. Senate candidates are participating in an Open Debate where all questions were submitted and voted on by the public -- and moderators must ask top-voted questions. Watch it with me..."/>
<meta property="og:image" content="https://s3.amazonaws.com/s3.boldprogressives.org/images/OpenDebates_WATCH-NOW_FB-1200x717-FODUrl.png"/>
{% endblock metadata %}

{% block content %}

<div class="row flatpage">
  {{ flatpage.content }}
</div>

{% endblock %}
