# This file does not need to be encrypted.
apiVersion: v1
kind: Secret
metadata:
  name: "opendebates-secrets"
  labels:
    app: "opendebates"
  namespace: "{{ NAMESPACE }}"
type: Opaque
stringData:
  DATABASE_URL: "{{ DATABASE_URL }}"
  EMAIL_HOST_PASSWORD: "{{ EMAIL_HOST_PASSWORD }}"
