apiVersion: apps/v1
kind: Deployment
metadata:
  name: "opendebates"
  namespace: "{{ NAMESPACE }}"
spec:
  selector:
    matchLabels:
      app: "opendebates"
  replicas: {{ OPENDEBATES_REPLICAS }}
  template:
    metadata:
      labels:
        app: "opendebates"
    spec:
      containers:
      - name: "opendebates"
        image: "{{ OPENDEBATES_IMAGE }}:{{ OPENDEBATES_VERSION }}"
        imagePullPolicy: Always
        env:
        - name: GET_HOSTS_FROM
          value: dns
        envFrom:
        - secretRef:
            name: "opendebates-secrets"
        - configMapRef:
            name: "django-config"
        ports:
        - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: "opendebates"
  labels:
    app: "opendebates"
  namespace: "{{ NAMESPACE }}"
spec:
  ports:
  - protocol: TCP
    # Where other things in the cluster should try to connect to our application
    port: 80
    # Where our application is listening:
    targetPort: 8000
  selector:
    app: "opendebates"
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: "opendebates"
  namespace: "{{ NAMESPACE }}"
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.org/mergeable-ingress-type: minion
    nginx.ingress.kubernetes.io/backend-protocol: "{{ CONTAINER_PROTOCOL }}"
spec:
  rules:
  - host: "{{ DOMAIN_NAME }}"
    http:
      paths:
      - path: "/"
        backend:
          serviceName: "opendebates"
          servicePort: 80
