# This file does not need to be encrypted.
apiVersion: v1
kind: Secret
metadata:
  name: "{{ SECRET_NAME }}"
  labels:
    app: "{{ APP_NAME }}"
  namespace: "{{ NAMESPACE }}"
type: Opaque
stringData:
{% for item in SECRET_VARS|dict2items %}
  {{ item.key }}: "{{ item.value }}"
{% endfor %}
