apiVersion: apps/v1
kind: Deployment
metadata:
  name: "celery-worker"
  namespace: "{{ NAMESPACE }}"
spec:
  selector:
    matchLabels:
      app: "celery-worker"
  replicas: {{ OPENDEBATES_WORKERS }}
  template:
    metadata:
      labels:
        app: "celery-worker"
    spec:
      containers:
      - name: "celery-worker"
        image: "{{ OPENDEBATES_IMAGE }}:{{ OPENDEBATES_VERSION }}"
        imagePullPolicy: Always
        securityContext:
          runAsNonRoot: true
          runAsUser: {{ RUN_AS_USER_ID }}
          runAsGroup: {{ RUN_AS_GROUP_ID }}
        args: ["celery", "--app=opendebates", "worker", "--workdir=/code", "--loglevel=info"]
        env:
        - name: GET_HOSTS_FROM
          value: dns
        - name: PYTHONPATH
          value: .
        envFrom:
        - secretRef:
            name: "opendebates-secrets"
