<div class="modal-thanks modal fade" id="modal-thanks"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      </div>
      <img src="{{static}}images/badge-democratic-open-forum.png" class="mic_icon">
      <div class="modal-body">
        <div class="modal-cue">
          <h2>Thank You for Submitting a&nbsp;Question</h2>
        </div>
        <p>
          {{{strings.afterQuestionSubmittedText}}}
        </p>

        <div class="social-links-container">
          <div class="social-links">

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
