<div class="modal-merge modal fade" id="modal-merge"
  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
      </div>
      <img src="{{static}}images/badge-democratic-open-forum.png" class="mic_icon">
      <div class="modal-body">
        <div class="modal-merge-cue">
          <h2>Recommend Merging<br>with a Similar Question</h2>
          <span>What question should this be merged with?</span>
        </div>
        <p>
          Open the voting platform in a new browser window and find the question
          you would like to merge with this selection.  Click on the text of
          that question, and it will bring you to that question's unique page.
          Copy the URL and paste it into the box here:
        </p>
        <form class="form-inline" method="POST" action="{{action}}">

          <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf}}">

          <input class="form-control"
                 type="url" name="duplicate_of_url" placeholder="Enter URL here">

          <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary">
                Submit
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>
