{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
{% url 'registration_register' as register_url%}

  <div class="flatpage row">
    <div class="col-sm-8 col-sm-offset-2 text-center">

      {% load bootstrap %}
      <form method="post" action="{% url 'auth_login' %}">{% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-primary" type="submit" value="{% blocktrans %}Log in{% endblocktrans %}" />
        <input type="hidden" name="next" value="{{ next }}" />
        <br><br>
        <div class="small">
          <b><a href="{% url 'password_reset' %}">{% trans "I forgot my password" %}</a></b>
        </div>
      </form>

      <p class="small">
        {% blocktrans %}
        Don't forget:
        Usernames and passwords are case-sensitive.
        {% endblocktrans %}
      </p>
      <p>{% blocktrans %}Need an account?{% endblocktrans %}</p>
      <p>
        <a class="btn btn-default" href="{{ register_url }}{% if next %}?next={{ next }}{% endif %}">
          {% blocktrans %}Create an Account{% endblocktrans %}
        </a>
      </p>

    </div>
  </div>

{% endblock %}
