{% extends "registration/registration_base.html" %}
{% load i18n bootstrap %}
{% block title %}{% trans "Register for an account" %}{% endblock %}
{% block content %}
  <div class="row flatpage registration-page">
    <div class="col-sm-8 col-sm-offset-2 text-center">

      <h1>{% blocktrans %}Welcome!{% endblocktrans %}</h1>
      <h2>{% blocktrans %}Register now to submit and vote on questions.{% endblocktrans %}</h2>
      <form method="post" action="">{% csrf_token %}
        {{ form|bootstrap }}
        <input type="hidden" name="next" value="{{ next }}" />
        <input class="btn btn-primary"
               type="submit" value="Create Account">
      </form>

      <p class="small">{% blocktrans %}Please note:{% endblocktrans %}</p>
      <ul class="form-notes small">
        <li>{% blocktrans %}Usernames and passwords are case-sensitive.{% endblocktrans %}</li>
        <li>{% blocktrans %}All fields are required, except for Display Name and Twitter Handle.{% endblocktrans %}</li>
      </ul>
      <p>{% blocktrans %}Already have an account?{% endblocktrans %}</p>
      <p>
        <a class="btn btn-default" href="{% url "auth_login" %}{% if next %}?next={{ next }}{% endif %}">{% blocktrans %}Log In{% endblocktrans %}</a>
      </p>
    </div>
  </div>
{% endblock %}
